body {
  margin: 0 auto;
  padding: 0 ;
  background-color: rgba(203, 207, 207, 0.786);
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) ;  
}
 
.dot {
  width: 14px;
  height: 14px; 
  background: #3ac; 
  margin-left: 30px;
  border-radius: 100%;
  display: inline-flex;
  animation: loader 2s infinite ease-in-out ;
     
}
 
.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;

}

.dot:nth-child(3) {
  animation-delay: 0.4s;

}

.dot:nth-child(4) {
  animation-delay: 0.6s;
}

.dot:nth-child(5) {
  animation-delay: 0.8s;

}

@keyframes loader{
  0%{transform: scale(1);}
  10% {transform: scale(1.4);
  background: rgb(15, 176, 221);}
  20% {transform: scale(1.7);
  background: rgba(7, 203, 40, 0.319);}
  30% {transform: scale(2.1);} 
  40% {transform :scale(2.3);
  background: rgba(104, 180, 11, 0.511);}
  50% {transform: scale(2.3);
  background: rgb(203, 7, 203);}  
  60% {transform: scale(2.3);
  background: rgb(203, 7, 203);}
  70% {transform: scale(2.1);
  background: rgb(180, 11, 152);}
  80% {transform: scale(1.7);}
  90% {transform: scale(1.4);
  background: rgba(11, 112, 180, 0.511);}
  100% {transform: scale(1);
  background: rgba(11, 112, 180, 0.644);}
}
 